body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #c7d5e0;
}

.pagina-perfil {
    background-color: #17375c;
    background: url('../Imagens/assassins-creed-3840x2160-21615.jpg');
    background-position: center center;
    background-size: 100%;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pagina-loja {
    background-color: #1b2a41;
    background-image: url('../Imagens/call-of-duty-black-3840x2160-19463.jpg');
    background-position: center center;
    background-size: 10%;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.pagina-novidades {
    background-color: #22313f;
    background-image: url('../Imagens/minecraft-the-3840x2160-20896.jpg');
    background-position: center center;
    background-size: 100%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.pagina-comunidade {
    background-color: #1c4f7c;
    background-image: url('../Imagens/stalker-2-heart-of-3840x2160-20090.jpg');
    background-position: center center;
    background-size: 100%;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.titulo-principal {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
    background-color: #0e1725;
    color: #66c0f4;
    margin: 0;
}

.banner-img {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 4px #000;
}

.banner h1{
    font-size: 4em;
    color: #fff;
}

.conteudo {
    padding: 40px;
    font-family: 'PT Sans', sans-serif;
    background-color: #173f5f;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 0 15px #00000088;
    font-size: 1.2em;
}

.rodape {
    background-color: #0e1725;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    color: #c7d5e0;
}

.rodape-links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.rodape-links img:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    margin-bottom: 15px;
}

